HTML {
    box-sizing: border-box;
    background-color: black;
}

#container {
    margin: 0;
    padding: 0;
    user-select: none;
    background-image: url("/src/img/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 550px;
}

#board {
    width: 181px;
    display: flex;
    padding-left: 393px;
    padding-top: 145px;
    flex-wrap: wrap;
}

.cell {
    width: 21px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.01px solid rgba(0, 0, 0, 0);
}

.throwPillCell {
    width: 21px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0.01px solid rgba(0, 0, 0, 0);
}

.throwPillBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 18px;
    left: 468px;
    width: 272px;
}

#blueVirus,
#yellowVirus,
#brownVirus {
    position: absolute;
}

#points {
    width: 23px;
    height: 23px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 192px;
    left: 215px;
}

#numberOfViruses,
#top {
    width: 23px;
    height: 23px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/src/img/numbers/3.png");
    position: absolute;
    top: 488.9px;
    left: 836px;
}

#top {
    top: 121px;
    left: 215px;
}

#endGame {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 225px;
    left: 390px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#mario {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 68px;
    left: 688px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}