HTML {
    box-sizing: border-box;
    background-color: black;
}

#container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-image: url("/src/img/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 750px;
    background-position: center;
}

#board {
    width: 280px;
    display: flex;
    padding-left: 64px;
    padding-top: 120px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid red;
    background-position: center;
    background-repeat: no-repeat;
}

#blueVirus,
#yellowVirus,
#brownVirus {
    position: absolute;
}